$monokai_fg : #F8F8F2;
$monokai_bg : #272822;

$monokai_gray_dark  : #75715E;
$monokai_gray_light : #CFCFC2;
$monokai_purple     : #AE81FF;
$monokai_cyan       : #66D9EF;
$monokai_magenta    : #F92672;
$monokai_cream      : #E6DB74;
$monokai_green      : #A6E22E;
$monokai_orange     : #66D9EF;

$monokai_comment: darken($monokai_gray_light, 10%);

.highlight {
  pre {
    border: none;
    background: lighten($monokai-bg, 3%);
    color: $monokai-fg;

    .c { color: $monokai_comment; font-style: italic } /* Comment */
    .err { color: $monokai_bg; background-color: $monokai_magenta } /* Error */
    .k { color: $monokai_magenta; font-weight: bold } /* Keyword */
    .o { font-weight: bold } /* Operator */
    .cm { color: $monokai_comment; font-style: italic } /* Comment.Multiline */
    .cp { color: $monokai_comment; font-weight: bold } /* Comment.Preproc */
    .c1 { color: $monokai_comment; font-style: italic } /* Comment.Single */
    .cs { color: $monokai_comment; font-weight: bold; font-style: italic } /* Comment.Special */
    .gd { color: $monokai_bg; background-color: $monokai_magenta } /* Generic.Deleted */
    .gd .x { color: $monokai_bg; background-color: $monokai_orange } /* Generic.Deleted.Specific */
    .ge { font-style: italic } /* Generic.Emph */
    .gr { color: $monokai_orange } /* Generic.Error */
    .gh { color: $monokai_green } /* Generic.Heading */
    .gi { color: $monokai_bg; background-color: $monokai_green } /* Generic.Inserted */
    .gi .x { color: $monokai_bg; background-color: $monokai_cyan } /* Generic.Inserted.Specific */
    .go { color: $monokai_fg } /* Generic.Output */
    .gp { color: $monokai_comment } /* Generic.Prompt */
    .gs { font-weight: bold } /* Generic.Strong */
    .gu { color: $monokai_green } /* Generic.Subheading */
    .gt { color: $monokai_orange } /* Generic.Traceback */
    .kc { font-weight: bold } /* Keyword.Constant */
    .kd { font-weight: bold } /* Keyword.Declaration */
    .kp { font-weight: bold } /* Keyword.Pseudo */
    .kr { font-weight: bold } /* Keyword.Reserved */
    .kt { color: $monokai_orange; font-weight: bold } /* Keyword.Type */
    .m { color: $monokai_purple } /* Literal.Number */
    .s { color: $monokai_cream } /* Literal.String */
    .na { color: $monokai_green } /* Name.Attribute */
    .nb { color: $monokai_fg } /* Name.Builtin */
    .nc { color: $monokai_orange; font-weight: bold } /* Name.Class */
    .no { color: $monokai_purple } /* Name.Constant */
    .ni { color: $monokai_fg } /* Name.Entity */
    .ne { color: $monokai_purple; font-weight: bold } /* Name.Exception */
    .nf { color: $monokai_fg; font-weight: bold } /* Name.Function */
    .nn { color: $monokai_fg } /* Name.Namespace */
    .nt { color: $monokai_cyan } /* Name.Tag */
    .nv { color: $monokai_cyan } /* Name.Variable */
    .ow { font-weight: bold } /* Operator.Word */
    .w { color: $monokai_bg } /* Text.Whitespace */
    .mf { color: $monokai_purple } /* Literal.Number.Float */
    .mh { color: $monokai_purple } /* Literal.Number.Hex */
    .mi { color: $monokai_purple } /* Literal.Number.Integer */
    .mo { color: $monokai_purple } /* Literal.Number.Oct */
    .sb { color: $monokai_cream } /* Literal.String.Backtick */
    .sc { color: $monokai_cream } /* Literal.String.Char */
    .sd { color: $monokai_cream } /* Literal.String.Doc */
    .s2 { color: $monokai_cream } /* Literal.String.Double */
    .se { color: $monokai_cream } /* Literal.String.Escape */
    .sh { color: $monokai_cream } /* Literal.String.Heredoc */
    .si { color: $monokai_cream } /* Literal.String.Interpol */
    .sx { color: $monokai_cream } /* Literal.String.Other */
    .sr { color: $monokai_orange } /* Literal.String.Regex */
    .s1 { color: $monokai_cream } /* Literal.String.Single */
    .ss { color: $monokai_purple } /* Literal.String.Symbol */
    .bp { color: $monokai_fg } /* Name.Builtin.Pseudo */
    .vc { color: $monokai_orange } /* Name.Variable.Class */
    .vg { color: $monokai_orange } /* Name.Variable.Global */
    .vi { color: $monokai_cyan } /* Name.Variable.Instance */
    .il { color: $monokai_purple } /* Literal.Number.Integer.Long */
  }
}
