doctype html
html(class="no-js")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    title {{ page.title }}
    meta(name="description" content="")
    meta(name="viewport" content="width=device-width, initial-scale=1")

    // Place favicon.ico and apple-touch-icon(s) in the root directory

    // build:css({app,.tmp}) /css/main.css
    link(rel="stylesheet" href="/_bower_components/normalize-css/normalize.css")
    link(rel="stylesheet" href="/css/syntax.css")
    link(rel="stylesheet" href="/css/bootstrap.css")
    link(rel="stylesheet" href="/css/h5bp_before.css")
    link(rel="stylesheet" href="/css/main.css")
    link(rel="stylesheet" href="/css/h5bp_after.css")
    | {% include googlefonts.html %}
    // endbuild

    // build:js({app,.tmp}) /js/head-scripts.js
    script(src="/_bower_components/jquery/dist/jquery.js")
    // endbuild

  body
    != "\n<!--[if lt IE 8]>"
      p.browsehappy You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.
    != "\n<![endif]-->"

    div.container
      div.row
        h1#sitename.col-lg-12.col-md-12.col-sm-12.col-xs-12
          | {{ site.name }}
      div.row
        main.col-lg-9.col-md-9.col-sm-9.col-xs-12
          | {{ content }}
        aside.col-lg-3.col-md-3.col-sm-3.col-xs-12
          p Sidebar
    = "\n    "
    | {% include scripts.html %}
    | {% include googleanalytics.html %}

= "\n"
